<%= form_with(model: landing_page, local: true) do |form| %>
  <% if landing_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(landing_page.errors.count, "error") %> prohibited this landing_page from being saved:</h2>

      <ul>
        <% landing_page.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :genre %>
    <%= form.select :genre, ['Action and Adventure','Comic Book','Drama', ' Mystery','Thriller','Non-Fiction'] %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :publishedDate %>
    <%= form.date_select :publishedDate,:start_year =>1500 %>
  </div>

  <div class="actions">
    <%= form.submit "Submit"%>
  </div>
<% end %>
