<div style="text-align:center">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @landing_page.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @landing_page.author %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @landing_page.genre %>
</p>

<p>
  <strong>Price:</strong>
  <%= @landing_page.price %>
</p>

<p>
  <strong>Publisheddate:</strong>
  <%= @landing_page.publishedDate %>
</p>

<%= link_to 'Edit', edit_landing_page_path(@landing_page) %> |
<%= link_to 'Go Home', landing_pages_path %>
</div>